--extra-index-url https://download.pytorch.org/whl/cpu
setuptools>=65.0.0,<82.0.0
wheel
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
yt-dlp==2024.10.7
git+https://github.com/openai/whisper.git
torch
numpy<2.0.0
deep-translator==1.11.4
edge-tts==6.1.12
indic-transliteration
pytubefix
